*.o
*.la
*.lo
*.sw?
config.log
configure
Makefile
Makefile.in
.libs
.deps
build-aux
autom4te*
aclocal.m4
config.log
config.h
config.h.in
libtool
stamp-h1
config.status
**.orig
**.gcda
**.gcno
**.log
TAGS
attestmgr/asps/*.xml
attestmgr/apis/*.xml
attestmgr/measurement_spec/*.xml
attestmgr/.kwlp
attestmgr/.kwps
attestmgr/test/test_*.xml
attestmgr/test/workdir-*
attestmgr/apis/tnc/imc-imv-config
attestmgr/apis/tnc/config
attestmgr/am/attestmgr
attestmgr/am/test_client
\#*#
paper/*.aux
paper/main.pdf
*.trs
src/test/*.xml
src/asps/*.xml
src/apbs/*.xml
src/measurement_spec/*.xml
selinux/svp-ma.fc
selinux/svp-ma.pp
selinux/tmp/
src/am/am_service
src/am/attestmgr
src/am/test_client
src/apbs/test-info
src/asps/test-info
src/test/test_address_spaces
src/test/test_all_apbs
src/test/test_att_app_servers_with_appraiser_apb
src/test/test_hashfileservice
src/test/test_listdirectoryservice
src/test/test_measurement_marshalling
src/test/test_measurement_spec
src/test/workdir-*
.#*
**~
m4/libtool.m4
m4/lt~obsolete.m4
m4/ltoptions.m4
m4/ltsugar.m4
m4/ltversion.m4
m4/macros
