*.o
*.lo
*~
*.la
*.so
*.a
configure
config.log
config.status
libtool
config.h.in
config.h
build-aux
Makefile.in
Makefile
.deps
.libs
m4/l*.m4
*.pc
.*.swp
stamp-h1
aclocal.m4
autom4te.cache
*.gcno
tags
**.orig
**.log
example/workdir-*
.kwlp
.kwps
test/test_*.xml
test/*.log
TAGS
debian/files
