#!/usr/bin/make -f
# -*- makefile -*-

# Uncomment this to turn on verbose mode.
#export DH_VERBOSE=1

override_dh_auto_configure:
	dh_auto_configure -- --disable-selinux --enable-web-ui

%:
	dh $@  --with autotools-dev

override_dh_fixperms:
	dh_fixperms --exclude apb --exclude asp

HOSTNAME ?= $(shell hostname)
ifeq ($(HOSTNAME),maat-swtpm)
CONFIGURE_FLAGS += --enable-tpm
endif
